body {
    background-color: #090d19;
}

/* main */
.profile-card {
    border: 2px solid black;
    width: 500px;
    margin: auto;
    padding: 0 7px;
    border-radius: 20px;
    background-color: #1c305c;
    box-shadow: #090d19;
}
/* title */

.title {
    text-align: center;
    color: #cbc0d1;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

h2 {
    font-size: 95%;
}

.bio {
    padding-left: 5px;
    padding-right: 5px;
}



/* profile pic */

.profile-pic {
    height: auto;
    max-width: 300px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
  }



h3 {
    color: white;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px #000000;
  }

  /* about me */

  h4 {
    text-align: center;
  }

  li {
    padding-bottom: 8px;
  }

